<!-- ESTE DIV ES PARA LA BARRA DE NAVEGACION -->
<div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-1 bg-body rounded" style="background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 51%, rgba(228,233,13,1) 100%)">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="Inicio">
              <img src="../assets/images/logo/cs_300.png" alt="" width="40" height="40">
              Connected Solutions
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="Inicio">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Crear reporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reportes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Configuración</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ayuda</a>
                </li>
                  <li class="nav-item ">
                  <a class="nav-link" routerLink="Registro">Registrarse</a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" routerLink="Login">Iniciar Sesion</a>
               </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <hr>
<!-- Es la pagina principal y cuenta como el funcionamiento de la app -->
  <div class="container">
    <div class="row ">
        <div class="col-3">

        </div>
      <!--Mensaje de bienvenida a la pagina-->
      <div class="col-6 shadow-lg p-3 mb-2 bg-body rounded">
        <div class="card text-dark">
          <img src="../assets/images/imagenes_main/2.jpeg" class="card-img img-fluid" alt="...">
          <div class="card-body">
            <h1 class="card-title">Bienvenidos al futuro :v </h1>
            <p class="card-text">En esta pagina encontraran la solucion a sus vidas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-3">

        </div>  
      <div class="col-6 shadow-lg p-3 mb-2 bg-body rounded">
        <div class="card mb-3">
          <img src="../assets/images/imagenes_main/3.jpeg" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Un metodo eficiente :V</h5>
            <p class="card-text">Como tu hermana :V </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <footer class="text-center text-white ">
          <!-- Grid container -->
          <div class="container p-4"></div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3 shadow-sm p-3 mb-0 bg-body rounded" style="background: radial-gradient(circle, rgba(67,33,123,1) 7%, rgba(236,10,10,0.9837068616509104) 100%)">
            © 2022 Copyright:
            <a class="text-white">Connected Solutions</a>
          </div>
          <!-- Copyright -->
        </footer>
      </div>
    </div>
  </div>